body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainNav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(250, 250, 250, 0.8);
  height: 45px;
  min-width: 100%;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

.hamburger {
    float: right;
    /*right: 0;*/
    display: inline-block;
    margin-right: 20px;

}

.searchForm {
  padding-top: 50px;
  display: flex;
}

.search {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  padding-bottom: 15px;
}

label {
  padding-top: 10px;
}

.paths {
  display: flex;
  justify-content: center;
}

.profiles {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: center;
}

.card {
  height: 300px;
  width: 300px;
  margin: 20px;
  background-color: rgb(172, 172, 243);
  background: rgb(252, 252, 252);
  border: solid 1px rgb(194, 194, 194);
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    padding: 20px;
}

img {
  height: 150px;
  width: 200px;
  margin-top: 5%;
  margin-right: 3%;
}

.bio {
  border: solid 1px rgb(122, 122, 122);
  margin-top: 5%;
  width: 200px;
  height: 80px;
  margin-left: 15%;
}

button.NextButton, button.PrevButton {
    font-size: 30px;
    color: #4c4e52;
    border: none;
    background-color: white;
    outline: none;
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mainNav {
    height: 50px;
  }

  .searchForm {
    padding-top: 70px;
  }

  .search {
    max-height: 250px;
  }

  img {
    margin-top: 3%;
  }

  .profiles {
    padding-top: 60px;
  }
}

/* desktop */
@media only screen and (min-width: 992px) {
  .mainNav {
    height: 60px;
  }

  .searchForm {
    padding-top: 80px;
  }

  .profiles {
    padding-top: 80px;
  }
}
